footer {
  position: absolute;
  bottom: 0px;
  display: inline;
  align-content: center;
  margin-left: 15%;
  margin-right: 15%;
}

.box {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.github,
.linkedIn,
.home {
  margin: 0 auto;
  padding: 30px;
  width: 58px;
  height: 58px;
}

a {
  margin: 40px;
}

.linkedIn {
  background-image: url(/src/client/views/linkedIn.jpg);
  background-size: cover;
}
.github {
  background-image: url(/src/client/views/github.jpg);
  background-size: cover;
}

.home {
  background-image: url(/src/client/views/home.jpg);
  background-size: cover;
}
